POSTGRES_USER=teamsight
POSTGRES_PASSWORD=
POSTGRES_DB=teamsight

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=https://api-teamsight.twsnx.dev
FRONTEND_URL=https://teamsight.vercel.app
PORT=4000

OPENROUTER_API_KEY=
OPENROUTER_MODEL=openai/gpt-4o-mini
